NodeRED/flows_user-iot.json
[{"id":"beb775a0.d48548","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e108a1aa.959198","type":"tcp in","z":"beb775a0.d48548","name":"","server":"server","host":"localhost","port":"60006","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":140,"wires":[["f578c9e8.b42","59900bc.7754574"]]},{"id":"f578c9e8.b42","type":"debug","z":"beb775a0.d48548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":140,"wires":[]},{"id":"59900bc.7754574","type":"function","z":"beb775a0.d48548","name":"Process alarm","func":"if (msg.payload.startsWith('[Alarm]')) {\n    let reg = /mote_id: (\\d)+, proximity_mote_id: (\\d)+/;\n    let regRes = reg.exec(msg.payload);\n    \n    msg.payload = {\n        \"mote_id\": regRes[1],\n        \"proximity_mote_id\": regRes[2]\n    };\n\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["3698f384.30ee7c"]]},{"id":"3698f384.30ee7c","type":"debug","z":"beb775a0.d48548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":260,"wires":[]}]