NodeRED/flows_user-iot.json
[{"id":"beb775a0.d48548","type":"tab","label":"KeepYourDistance IOT 2021","disabled":false,"info":""},{"id":"e108a1aa.959198","type":"tcp in","z":"beb775a0.d48548","name":"","server":"server","host":"localhost","port":"60006","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":160,"y":140,"wires":[["f578c9e8.b42","59900bc.7754574"]]},{"id":"f578c9e8.b42","type":"debug","z":"beb775a0.d48548","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":140,"wires":[]},{"id":"59900bc.7754574","type":"function","z":"beb775a0.d48548","name":"Process alarm","func":"if (msg.payload.startsWith('[Alarm]')) {\n    let reg = /mote_id: (\\d)+, proximity_mote_id: (\\d)+/;\n    let regRes = reg.exec(msg.payload);\n    \n    msg.event = 'iot_alarm';\n    msg.payload = {\n        'value1': regRes[1], // mote_id\n        'value2': regRes[2] // proximity_mote_id\n    };\n\n    return msg;\n}","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["3698f384.30ee7c","70bb5323.cbfcec"]]},{"id":"3698f384.30ee7c","type":"debug","z":"beb775a0.d48548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":260,"wires":[]},{"id":"70bb5323.cbfcec","type":"http request","z":"beb775a0.d48548","name":"","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/cxu3IhCf_FZNcykDjmGoIT","tls":"","x":653,"y":357,"wires":[["cb48cf21.c480b"]]},{"id":"cb48cf21.c480b","type":"debug","z":"beb775a0.d48548","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":833,"y":357,"wires":[]}]